* {
    margin: 0;
    padding: 0;
}

.header{
    margin-top: 2%;
    text-align: center;
}

#memory-grid {
    width: 50vw;
    height: 50vh;
    display: grid;
    grid-template-columns: auto auto auto;
}

.gridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 100vw;
}
.cell {
    background-color: pink;
    border: 2px solid palevioletred;
}

.cell:hover{
    background-color: palevioletred;
}

.scoreboard {
    text-align: left;
    margin-left: 5%;
}