/* https://colorhunt.co/palette/f9c0abf4e0afa8cd89355f2e
brown: #533d3e */

/* general styling*/
body {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    color: #533d3e;
    background-color: #a1e9d6;
}

.header{
    margin-top: 1%;
    text-align: center;
}
#countdown{
    color: #355F2E;
    border: #533d3e;
}
#memory-grid,
#memory-grid-back{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr)); 
    perspective: 1000px;
}

.gridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 100%;
    position: relative;
    transform-style:preserve-3d;
    transition: .5s;
}
.card.flip{
    transform: rotateY(180deg)
}

.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
}
.back-face{
    background-color: #A8CD89;
    border: 2px solid #355F2E;
}
.front-face {
    transform: rotateY(180deg)
}
.front-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back-face:hover{
    background-color: #355F2E;
    cursor: pointer;
}

.scoreboard, .scoreboard h1, .voorkeur {
    text-align: left;
}
.legend {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 5px; 
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.legend-color {
    flex: 1;
    height: 30px;
    margin-left: 5px;
    size:5px;
    align-items: right;
}

.kaartkleur  { background-color: #A8CD89; }
.open        { background-color: #355F2E; }
.gevonden    { background-color: #533d3e; }


.start-button {
    background-color: #F9C0AB;
    border: 2px solid #533d3e;
    color: #533d3e;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DynaPuff", system-ui;
    margin-bottom: 5%;
}
select{
    background-color: #F9C0AB;
    font-family: "DynaPuff", system-ui;
    color: #533d3e;
    cursor: pointer;
}
.start-button:hover {
    background-color: #A8CD89;
}



/* styling for phones */
@media only screen and (max-width: 600px) {
    body{
        font-size: 1.2rem;
    }
    #memory-grid,
    #memory-grid-back {
        margin-top: 5vw;
        width: 80vw;
        height: 80vw;
    }
    #countdown{
    width: 50%;
    }
    .start-button {
        font-size: 1.5rem;
        padding: 8px 16px;
    }

    select {
        font-size: 1rem;
    }
    .gridcontainer {
        flex-direction: column; 
        align-items: center;
    }

    .scoreboard {
        text-align: center;
    }
    .legend-color{
        max-width: 75px;
    }
}

/* styling for tablets */
@media only screen and (min-width: 601px) {
    body {
        font-size: 2rem;
    }

    #memory-grid,
    #memory-grid-back {
        width: 60vw;
        height: 60vw;
    }

    .start-button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    select {
        font-size: 1.25rem;
    }

    .gridcontainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .scoreboard {
        margin-left: 0;
        text-align: center;
    }
}

/* styling for laptops */
@media only screen and (min-width: 1200px){
    body{
        font-size: 0.75em;
    }
    #memoryGrid,
    #memory-grid-back{
        width: 75vh;
        height: 75vh;
    }
    .start-button {
        font-size: 1rem;
        padding: 8px 16px;
    }

    select {
        font-size: 1rem;
    }
    .gridcontainer {
        flex-direction: row; 
        align-items: center; 
    }
    .scoreboard {
        margin-left: 5%;
        text-align: center;
    }
    .legend-color{
        max-width: 100px;
    }
    #countdown{
    width: 20%;
    }
}
