/* https://colorhunt.co/palette/f9c0abf4e0afa8cd89355f2e
brown: #533d3e */

/* general styling*/

body {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    color: #533d3e;
    background-color: #a1e9d6;
}

.header{
    margin-top: 1%;
    text-align: center;
}
#countdown{
    color: #355F2E;
    border: #533d3e;
}
#memory-grid,
#memory-grid-back{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)); 
    perspective: 1000px;
}

.gridcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 100%;
    position: relative;
    transform-style:preserve-3d;
    transition: .5s;
}
.card.flip{
    transform: rotateY(180deg)
}

.front-face, .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    backface-visibility: hidden;
}
.back-face{
    background-color: #A8CD89;
    border: 2px solid #355F2E;
}
.front-face {
    transform: rotateY(180deg)
}
.front-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.back-face:hover{
    background-color: #355F2E;
    cursor: pointer;
}

.scoreboard, .scoreboard h1, .voorkeur, .scores {
    text-align: left;
}
.legend {
    display: flex;
    flex-direction: column;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.start-button {
    background-color: #F9C0AB;
    border: 2px solid #533d3e;
    color: #533d3e;
    border-radius: 5px;
    cursor: pointer;
    font-family: "DynaPuff", system-ui;
    margin-bottom: 5%;
}
select{
    background-color: #F9C0AB;
    font-family: "DynaPuff", system-ui;
    color: #533d3e;
    cursor: pointer;
    float: right;
    margin-left: 1vw;
}
.start-button:hover {
    background-color: #A8CD89;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image:url("../images/bg2.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #F4E0AF;
    border: 5px solid;
    padding: 20px;
    width: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.loginform .container {
    display: flex;
    flex-direction: column;
}
.loginform input {
    font-size: 20px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid;
    border-radius: 4px;
}
.loginform button {
    font-size: 15px;
    background-color: #A8CD89;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "DynaPuff", system-ui;
    color: #533d3e;

}
.loginform button:hover {
    background-color: #355F2E;
}
.loginform .link {
    margin-top: 10px;
    font-size: 20px;
}
.loginform a{
        color:#355F2E
}
.loginform a:hover{
        color:#533d3e
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 5px solid #999;
  border-top: 5px solid #355F2E;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}





/* styling for phones */
@media only screen and (max-width: 600px) {
    body{
        font-size: 1rem;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    #memory-grid,
    #memory-grid-back {
        margin-top: 5vw;
        width: 80vw;
        height: 80vw;
    }
    #countdown{
    width: 50%;
    }
    .start-button {
        font-size: 1.5rem;
        padding: 8px 16px;
    }
    .gridcontainer {
        flex-direction: column; 
        align-items: center;
    }

    .scoreboard {
        text-align: center;
    }
    .legend {
    width: 20vh;
    gap: 10vh; 
    }

    .loginform{
        width: 50vw;
        min-width: 0;
        max-width: 400px;
        margin: auto;
        box-sizing: border-box;
    }
    .loginform .container {
        max-width: 40vw;
    }
}

/* styling for tablets */
@media only screen and (min-width: 601px) {
    body {
        font-size: 1rem;
    }

    #memory-grid,
    #memory-grid-back {
        width: 50vw;
        height: 50vw;
    }

    .start-button {
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .gridcontainer {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
    }

    .scoreboard {
        margin-left: 0;
        text-align: center;
    }
    
    .loginform{
        width: 100vh;
        min-width: 0;
        max-width: 400px;
        margin: auto;
        box-sizing: border-box;
    }
    .loginform .container {
        max-width: 60vw;
    }
    .legend {
    width: 20vw;
    gap: 10vw; 
    }
}

/* styling for laptops */
@media only screen and (min-width: 1200px){
    body{
        font-size: 0.75em;
    }
    #memory-grid,
    #memory-grid-back{
        width: 75vh;
        height: 75vh;
    }
    .start-button {
        font-size: 1rem;
        padding: 8px 16px;
    }
    .gridcontainer {
        flex-direction: row; 
        align-items: center; 
    }
    .scoreboard {
        margin-left: 5%;
        text-align: center;
    }
    .legend {
    width: 20vh;
    gap: 10vh; 
    }
    #countdown{
    width: 20%;
    }
}
